<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="HtmlAgilityPack" version="1.4.6" targetFramework="wp71" />
  <package id="MSAF.GoogleAnalytics" version="1.5.4.2" targetFramework="wp71" />
  <package id="MyToolkit" version="1.12.0" targetFramework="wp71" />
  <package id="MyToolkit.Extended" version="1.12.0" targetFramework="wp71" />
  <package id="Newtonsoft.Json" version="4.5.11" targetFramework="wp71" />
  <package id="WPtoolkit" version="4.2012.10.30" targetFramework="wp71" />
</packages>